* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

ul, ol {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 15px;
        }

        nav#menubar {
            width: 100%;
            overflow: hidden;
            height: 80px;
            background-color: #1b2035;
            margin: 0px;
        }

        #menubar>a {
            display: flex;
            align-items: center;
            float: left;
            font-size: 30px;
            font-weight: 900;
            line-height: 80px;
            padding: 0 20px;
            color: #fff;
        }

        #menubar > a > img {
            width: 50px; 
            height: 50px;
            margin-right: 10px; 
        }

        #menubar > a, #menubar>ul {
            height: 80px;
            line-height: 80px;
        }

        #menubar>ul {
            float: right;
        }

        #menubar>ul li:hover{
            background-color: rgb(23, 148, 148);
        }
        #menubar>ul li {
            float: left;
            padding: 0 30px;
            line-height: 80px;
        }

.seasons > div img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.works_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .works_main {
    position: relative;
    text-align: center;
    margin: 10px;
  }

  .works_main div {
    width: 230px;
    height: 331px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 230px;
    height: 331px;
  }
    
  .works_main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
  }
    
  .works_main:hover img {
    transform: scale(1.2);
    transform-origin: center;
    filter: brightness(10%);
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
  }
  
  .works_main p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .works_main:hover p {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.slidebox {
    max-width: 1000px;
    max-height: 500px;
    margin: 0 auto;
}

.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slidelist .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 1s;
}

.slidebox .slidelist .slideitem>a {
    display: block;
    width: auto;
    position: relative;
}

.slidebox .slidelist .slideitem>a img {
    max-width: 100%;
}

.slidebox .slidelist .slideitem>a label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.slidebox .slidelist .slideitem>a label.prev {
    left: 20px;
    background: #333 url('/image/left-arrow.png') center center / 50% no-repeat;
}

.slidebox .slidelist .slideitem>a label.next {
    right: 20px;
    background: #333 url('/image/right-arrow.png') center center / 50% no-repeat;
}


[name="slide"] {
    display: none;
}

#slide01:checked~.slidelist .slideitem {
    transform: translateX(0);
    animation: slide01 15s infinite;
}

#slide02:checked~.slidelist .slideitem {
    transform: translateX(-100%);
    animation: slide02 15s infinite;
}

#slide03:checked~.slidelist .slideitem {
    transform: translateX(-200%);
    animation: slide03 15s infinite;
}


@keyframes slide01 {
    0% {
        left: 0%;
    }

    33% {
        left: 0%;
    }

    34% {
        left: -100%
    }

    66% {
        left: -100%;
    }

    67% {
        left: -200%;
    }

    99% {
        left: -200%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide02 {
    0% {
        left: 0%;
    }

    33% {
        left: 0%;
    }

    34% {
        left: -100%;
    }

    66% {
        left: -100%;
    }

    67% {
        left: 100%;
    }

    99% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide03 {
    0% {
        left: 0%;
    }

    33% {
        left: 0%;
    }

    34% {
        left: 200%;
    }

    66% {
        left: 200%;
    }

    67% {
        left: 100%;
    }

    99% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}
/* 이미지 슬라이드 Style */
.root_daum_roughmap {
margin: auto !important;
}